.container-header{
  padding: 8px;
  background-color: #003045; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container-drawer{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px;
}
.container-avatar-drawer{
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 12px 0px;
  padding: 8px
}
.logout-button{
  display: flex;
  align-items: center;
  cursor: pointer;
}